<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
<link rel="stylesheet" href="/css/home.css">
<body>
<h1>Welcome to Home Page</h1>
<form action="/habit/create" method="POST">
    <label for="habit">
        <input type="text" name="habit" placeholder="Type the habit here">
        <button type="submit" class="btn btn-primary">Create</button>
    </label>
</form>
<section id="habits-container">
    <% for (habit of habits) {%>
        <div id="habit-<%=habit._id%>" class="habits">
            <h2><%= habit.habitName %></h2>
            <a href="/habit/edit/<%=habit._id%>" class="btn btn-warning">Edit</a>
            <a href="/habit/destroy/<%=habit._id%>" class="btn btn-danger">Delete</a>
        </div>
    <%}%>

</section>
<script>
    
</script>
</body>